# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.tlog
*.obj
*.pdb
MagicLand/MagicLand/proj.win32/Debug.win32/vc100.idb
MagicLand/MagicLand/proj.win32/Debug.win32/MagicLand.win32.vcxprojResolveAssemblyReference.cache
*.log
MagicLand/MagicLand/proj.win32/Debug.win32/MagicLand.win32.lastbuildstate
*.manifest
MagicLand/Debug.win32/MagicLand.win32.ilk
*.ipch
MagicLand/MagicLand.sdf
*.suo
*.res
MagicLand/MagicLand/proj.win32/Debug.win32/MagicLand.win32_manifest.rc
MagicLand/MagicLand/proj.win32/MagicLand.win32.vcxproj.user
MagicLand/MagicLand/Resources/test.rmd.bak
*.opensdf
MagicLand/Debug.win32/TerrianAutoGen.win32.exe
MagicLand/Debug.win32/MagicLand.win32.exe
MagicLand/MagicLand/Resources/test - 副本.rmd
MagicLand/MagicLand/proj.win32/Release.win32/MagicLand.win32.lastbuildstate
MagicLand/MagicLand/proj.win32/Release.win32/vc100.idb
MagicLand/Release.win32/MagicLand.win32.exe
MagicLand/MagicLand/proj.win32/Release.win32/MagicLand.win32.vcxprojResolveAssemblyReference.cache
MagicLand/MagicLand/Resources/Noname1.txt
MagicLand/MagicLand/Resources/Noname1.txt.bak
MagicLand/MagicLand/Resources/Config.script.bak
